:root {
    --maxxam-yellow: #fec416;
    --maxxam-grey: #4b4b4b;
}

.maxxam-text-yellow {
    color: var(--maxxam-yellow);
}

.maxxam-bg-yellow {
    background-color: var(--maxxam-yellow);
    color: black;
}

.maxxam-bg-grey {
    background-color: var(--maxxam-grey);
    color: white;
}

.maxxam-logo {
    background-image: url("/logo_full_blk.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 3rem;
}

.hover\:maxxam-text-yellow:hover {
  color: var(--maxxam-yellow);
}